/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */
.body{
    background-color: #100427;
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

.content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.chat {
    display: flex;
    width: 100%;
    /* max-width: 1500px; */
    height: 100%;
    /* max-height: 800px; */
    margin: auto;
    background-color: #131424;
}

.chat__sidebar {
    color: white;
    background: #333744;
    width: 20%;
    overflow-y: scroll;
    flex: 1 1 20%;
}

@media screen and (max-width: 500px){
    .chat__sidebar{
        display: none;
    }
}

/* Chat styles */

.chat__main {
    flex: 1 1 80%;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}
@media screen and (max-width: 500px){
    .chat__main{
        flex: 1;
    }
}

.chat__messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
    width: 100%;
    margin-bottom: 80px;
}

/* Message Styles */

.message {
    margin-bottom: 16px;  
    padding: 5px 10px;
    border-radius: 10px;
    border-top-left-radius: 0;
    background-color: #c7b7e7;
    color: #100427;
    width: fit-content;
    max-width: 50%
}

.message.true{
    text-align: right;
    background-color: #9b71ee;
    align-self: right;
    justify-self: right;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
    margin-left: auto;
}

.message.true .message__name{
    color: #641ceb;
}

.message__name {
    color: #9b71ee;
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: rgb(255, 255, 255);
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

.message__text{
    word-wrap: break-word;
}

/* Message Composition Styles */

.compose {
    position: fixed;
    bottom: 0;
    display: flex;
    margin-top: 16px;
    padding:  20px;
    min-width: 80%;
    max-height: 400px;
    align-items: center;
}

.compose__message {
    flex: 1 1 80%;
    width: 100%;
    padding: 10px;
    margin: 0 10px 0 0;
    border-radius: 12px;
    max-height: 75px;
    min-height: 45px;
    overflow-y: auto;
    background-color: white;
    word-wrap: break-word;
}

.compose__btn {
    display: flex;
    height: 50px;
    font-size: 10px;
}

.compose__sendBtn{
    margin-right: 5px;
}

.placeholder{
    position: absolute;
    left: 3%;
    bottom: 40%;
    color: grey;
    font-size: 15px;

}
/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}